img:hover {
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    }

body{
    background-image:url(https://images3.alphacoders.com/137/1372011.jpeg); background-position:50% 50%;
background-attachment:fixed; background-repeat:no-repeat; background-size: cover;
}

table, th, td
{
  border-collapse:collapse;
  border:5px ridge rgb(0, 0, 0);
  padding:5px;
}
body {
    color: white;
}